name: Build MovieTruch TV APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Initialize Capacitor Android
        run: |
          npx cap add android
          npx cap sync

      - name: Configure Android TV Manifest
        run: |
          # Este comando agrega la categoría Leanback para que aparezca en el menú de la TV
          sed -i '/<category android:name="android.intent.category.LAUNCHER" \/>/a <category android:name="android.intent.category.LEANBACK_LAUNCHER" \/>' android/app/src/main/AndroidManifest.xml
          # Indica que no requiere pantalla táctil
          sed -i '/<uses-permission/i <uses-feature android:name="android.hardware.touchscreen" android:required="false" \/>' android/app/src/main/AndroidManifest.xml
          sed -i '/<uses-permission/i <uses-feature android:name="android.software.leanback" android:required="true" \/>' android/app/src/main/AndroidManifest.xml

      - name: Build APK
        run: |
          cd android && ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MovieTruch-TV-Debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
